.postericonframe{
	position: absolute; 
	z-index: 3;
	width: 140px; /*iconの横＋30px*/
	height: 90px; /*iconの縦＋30px*/
}

.horizontal{
	position: absolute; 
	width:90px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	font-size: 15px;
	top: 25px;
	left: 25px;

	z-index: 3;
}
.iconindexhor{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	line-height: 40px;
	z-index: 4;
}

#mapMain{
	transition: all .2s;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
	touch-action: none;
	-webkit-user-select: none;
	-webkit-user-drag: none; 
}


#basicinfo{
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 50px; /* タブバーの幅 */
	text-align: left;
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 40px;

	background-color: #ffff99;
	word-wrap:break-word; 
	z-index: 20;
}


/*TODO:押しにくいから改善したほうがいいかも*/
#bookmarkbutton{
	padding  : 15px; 
	position : fixed;
	z-index  : 30;
	width    : 30px;
	height   : 30px;
	left     : 0px;
	bottom   : 145px; /* オフセット+タブバーの幅 */
}

#detailinfobutton{
	padding  : 15px; 
	position : fixed;
	z-index  : 30;
	right    : 0px;
	height   : 35px;
	width    : 35px; 
	bottom   : 75px; /* オフセット+タブバーの幅 */
}

/* アイコンラベルの文字列変更ボタン */
/* 念のため背景色白にしておく */
#changelabel{
	position : absolute;
	right 	 : 5px;
	top      : 5px;
	z-index  : 100;
}

/* ブックマークされたアイコンにつける☆ */
/*  */
/* star-up    : 上 : 1 */
/* star-right : 右 : 2 */
/* star-down  : 下 : 3 */
/* star-left  : 左 : 4 */

.star-top{
	position: absolute;
	width: 15px;
	height: 15px;
	top: 5px;
	left: 65px;
	font-size: 15px;
}

.star-right{
	position: absolute;
	width: 15px;
	height: 15px;
	right: 5px;
	top: 41px;
	font-size: 15px;
}

.star-bottom{
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 5px;
	left: 65px;
	font-size: 15px;
}

.star-left{
	position: absolute;
	width: 15px;
	height: 15px;
	left: 5px;
	top: 41px;
	font-size: 15px;
}

/*TODO:jsでのアイコン生成時にここもjsに取り込む*/
/*1列目*/

#iconNo1{
	top : 135px;
	left: 85px;
}
#iconNo3{
	top : 135px;
	left: 220px;
}
#iconNo10{
	top : 135px;
	left: 345px;
}
/*2列目*/
#iconNo5{
	top : 235px;
	left: 85px;
}
#iconNo7{
	top : 235px;
	left: 220px;
}
#iconNo11{
	top : 235px;
	left: 345px;
}


/*3列目*/
#iconNo8{
	top : 335px;
	left: 85px;
}
#iconNo9{
	top : 335px;
	left: 220px;
}
#iconNo12{
	top : 335px;
	left: 345px;
}

/*4列目*/
#iconNo4{
	top : 435px;
	left: 85px;
}

#iconNo2{
	top : 435px;
	left: 220px;
}
#iconNo13{
	top : 435px;
	left: 345px;
}


/*5列目*/
#iconNo6{
	top : 535px;
	left: 220px;
}
#iconNo14{
	top : 535px;
	left: 345px;
}

/*6列目*/
