.dpic {
	background-color: #B4EBFA;
}

.tpic {
	background-color: #FF2800;
}

.spic {
	background-color: #35A16B;
}

.epic {
	background-color: #FF2800;
}

.postericonframe{
	position: absolute; 
	z-index: 3;
}

.horizontal{
	position: absolute; 
	text-align:center;
	vertical-align:middle;
	z-index: 3;
}

.sideways{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	font-size: xx-small;
	transform: scale(0.5);
	white-space: nowrap;
	text-align: center;
	z-index: 4;
}

.longways{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	font-size:xx-small;
	transform: scale(0.5);
	white-space: nowrap;
	z-index: 4;
}

#mapFrame{
	height: calc(100% - 65px);
	overflow: hidden;
}

#mapMain{
	transition: all .2s;
	-webkit-transition: all .2s;
    -moz-transition: all .2s;
	touch-action: none;
	-webkit-user-select: none;
	-webkit-user-drag: none; 
	height : calc(100% - 65px);
	overflow: hidden;
}


#basicinfo{
	position: fixed;
	/*width: 100%;*/
	height: 100px;
	bottom: 50px; /* タブバーの幅 */
	text-align: left;
	padding-top: 20px;
	padding-right: 40px;
	padding-left: 40px;

	background-color: #ffff99;
	/*word-wrap: break-word;*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	z-index: 20;
}


/*TODO:押しにくいから改善したほうがいいかも*/
#bookmarkbutton{
	padding  : 15px; 
	position : fixed;
	z-index  : 30;
	width    : 30px;
	height   : 30px;
	left     : 0px;
	bottom   : 145px; /* オフセット+タブバーの幅 */
}

#detailinfobutton{
	padding  : 15px; 
	position : fixed;
	z-index  : 30;
	right    : 0px;
	height   : 35px;
	width    : 35px; 
	bottom   : 75px; /* オフセット+タブバーの幅 */
}

/* アイコンラベルの文字列変更ボタン */
/* 念のため背景色白にしておく */
#changelabel{
	position : absolute;
	right 	 : 5px;
	top      : 5px;
	z-index  : 100;
}

/* ブックマークされたアイコンにつける☆ */
/*  */
/* star-up    : 上 : 1 */
/* star-right : 右 : 2 */
/* star-down  : 下 : 3 */
/* star-left  : 左 : 4 */

.star-top{
	position: absolute;
	width: 15px;
	height: 15px;

}

.star-right{
	position: absolute;
	width: 15px;
	height: 15px;
	right: 5px;
	top: calc(50% - 15px/2);
	font-size: 15px;
}

.star-bottom{
	position: absolute;
	width: 15px;
	height: 15px;
	bottom: 5px;
	left: calc(50% - 15px/2);
	font-size: 15px;
}

.star-left{
	position: absolute;
	width: 15px;
	height: 15px;
	left: 5px;
	top: calc(50% - 15px/2);
	font-size: 15px;
}

.bookmarkstar{
	width:15px;
	height:15px;
}


