.listcolor tbody tr:nth-child(2n+1) {
  background-color: #D2DEEF;
 }

.listcolor tbody tr:nth-child(2n+0) {
  background-color: #EAEFF7;
  }
.listcolor  tbody th {
  background-color: #FFD700; 
}

.sessionTH {
  border-top-width: 10px; 
  border-color: black;
  text-shadow:none;
  text-align:left;
}
.sessionTitle {
  font-size:0.7cm;
  font-weight: 900;
}
.sessionPerson {
  font-size:small;
  font-weight: 900;
}



#emptyBookmarklist {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: large;
}

.nav-tabicon .ui-btn { padding-top: 40px !important; }
.nav-tabicon .ui-btn:after { width: 30px!important; 
										height: 30px!important; 
										margin-left: -15px !important; 
										box-shadow: none!important; 
										-moz-box-shadow: none!important; 
										-webkit-box-shadow: none!important; 
										-webkit-border-radius: 0 !important; 
										border-radius: 0 !important; }
#totoppage:after {background: transparent; background-image: url("../img/tabbar/homepage_gray.png") 50% 50% no-repeat; background-size: 24px 22px; }
#map:after {background: transparent; background-image: url("../img/tabbar/map_gray.png") 50% 50% no-repeat; background-size: 24px 22px; }
#list:after { background: transparent; background:  url("../img/tabbar/list_gray.png") 50% 50% no-repeat; background-size: 24px 16px;  }
#bookmark:after { background: transparent; background:  url("../img/tabbar/bookmark_gray.png") 50% 50% no-repeat;  background-size: 12px 26px; }
#information:after { background: transparent; background:  url("../img/tabbar/schedule.png") 50% 50% no-repeat;  background-size: 22px 27px; }
