nav-3-9 .ui-btn .ui-btn-inner  
{
padding-top: 40px !important; 
}
.nav-3-9 .ui-btn .ui-icon  
{
width: 30px!important; 
height: 30px!important; 
margin-left: -15px !important; 
    box-shadow: none!important; 
    -moz-box-shadow: none!important; 
    -webkit-box-shadow: none!important; 
    -webkit-border-radius: 0 !important; 
    border-radius: 0 !important;
 }
.posterMapPageButton .ui-icon  
{
background:  url('images/tabbar/map_gray.png')50% 50% no-repeat; 
background-size: 18px 26px; 
}
