#taparea1 {
	position: absolute;
	z-index: 150;
	background-color: blue;
	opacity: 0.3;
	width: 130px;
	height: 210px;
	top: 10px;
	left: 40px;
}

#taparea2 {
	position: absolute;
	z-index: 150;
	background-color: yellow;
	opacity: 0.3;
	width: 130px;
	height: 170px;
	top: 220px;
	left: 40px;
}

#taparea3 {
	position: absolute;
	z-index: 150;
	background-color: red;
	opacity: 0.3;
	width: 155px;
	height: 195px;
	top: 10px;
	left: 180px;
}

#taparea4 {
	position: absolute;
	z-index: 150;
	background-color: cyan;
	opacity: 0.3;
	width: 95px;
	height: 95px;
	top: 400px;
	left: 115px;
}

#resetScaleButtonFrame {
	position : absolute;
	right 	 : 5px;
	top      : 150px;
	z-index  : 100;
}