#topPageContent {
	position: absolute;
	margin-left: 15%;
	margin-right: 15%;
	width: 70%;
	top: 42%; /* enPiTロゴ分だけオフセット */
}

#selectLocale {
	/*position: absolute;*/
	display: inline-block;
	width: 100%;
	text-align: center;
	/*top: 40%;*/
	font-size: medium;
	margin-top: 3%;
	margin-bottom: 3%;
}

#conferenceName{
	font-size: 28px;	
	color: #0033FF;
	text-align: center;
}

.table-topmenu {
/*	position: absolute;
	margin-left: 15%;
	margin-right: 15%;
	top: 45%;
	width: 70%;
	height: 30%;	*/
}

.topmenuicon {
	width: 50%;
	margin: 5%;

	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,.5);
  	-moz-box-shadow: 2px 4px 8px rgba(0,0,0,.5);
  	box-shadow: 2px 2px 8px rgba(0,0,0,.5);
}

.topMenuIconLabel {
	font-size: x-small;
}

#copyright {
	/*position: absolute;*/
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: small;
	/*top: 92%;*/
}

.reDownloadDIV {
	position:absolute;
	left: calc( 50% - 220px / 2);
	top:22%;
	height: 30px;
	width: 220px;
	line-height:30px;
	z-index: 200;
	text-align: center;
	font-size: medium;
	color: white;
	background-color:#D00000;
}

.ReDownloadBtn {
	position:absolute;
	left: calc( 50% - 220px / 2);
	top:22%;
	height: 30px;
	width: 220px;
	line-height:30px;
	z-index: 200;
	text-align: center;
	font-size: medium;
}

.ReDownloadBtn {
	position:absolute;
	left: calc( 50% - 220px / 2);
	top:22%;
	height: 30px;
	width: 220px;
	line-height:30px;
	z-index: 200;
	text-align: center;
	font-size: medium;
}