#selectLocale {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 40%;
}

#conferenceName{
	font-size: 28px;	
	color: #0033FF;
	text-align: center;
}

.table-topmenu {
	position: absolute;
	margin-left: 15%;
	margin-right: 15%;
	top: 45%;
	width: 70%;
	height: 30%;	
}

.topmenuicon {
	width: 60%;
	margin: 5%;
}

#copyright {
	position: absolute;
	display: inline-block;
	width: 100%;
	text-align: center;
	top: 92%;
}