# except www/
!www/
PosMApp/.cordova/config.json
PosMApp/hooks/README.md
PosMApp/www/spec/test_initdb.js
PosMApp/platforms/
PosMApp/www/icon.css.rej
PosMApp/www/js/postermap.js.rej
PosMApp/plugins/android.json
PosMApp/jscover.log
PosMApp/jscover.log.lck
ios.json
Thumbs.db