.horizontal{
	position: absolute; 
	width:90px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	font-size: xx-large;

	z-index: 3;
}
.iconindexhor{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	line-height: 40px;
	z-index: 4;
}

#basicinfo{
	position: fixed;
	width: 100%;
	height: 100px;
	bottom: 0px;
	text-align: left;
	padding-right: 40px;
	background-color: #ffff99;
	word-wrap:break-word; 
	z-index: 20;
}


/*TODO:押しにくいから改善したほうがいいかも*/
#closebutton{
	position: fixed;
	right:10px;
	bottom: 65px;
	z-index: 30;
	font-size: 40px;
	color: #ff0000;
}


/*TODO:jsでのアイコン生成時にここもjsに取り込む*/
/*1列目*/

#iconNo1{
	top : 160px;
	left: 110px;
}
#iconNo3{
	top : 160px;
	left: 245px;
}
#iconNo10{
	top : 160px;
	left: 370px;
}
/*2列目*/
#iconNo5{
	top : 260px;
	left: 110px;
}
#iconNo7{
	top : 260px;
	left: 245px;
}
#iconNo11{
	top : 260px;
	left: 370px;
}


/*3列目*/
#iconNo8{
	top : 360px;
	left: 110px;
}
#iconNo9{
	top : 360px;
	left: 245px;
}
#iconNo12{
	top : 360px;
	left: 370px;
}

/*4列目*/
#iconNo4{
	top : 460px;
	left: 110px;
}

#iconNo2{
	top : 460px;
	left: 245px;
}
#iconNo13{
	top : 460px;
	left: 370px;
}


/*5列目*/
#iconNo6{
	top : 560px;
	left: 245px;
}
#iconNo14{
	top : 560px;
	left: 370px;
}

/*6列目*/
